* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #eff4fd;
}

.logo {
  /*Pic reference: https://dribbble.com/shots/3829366-C-Logo*/
  height: 80px;
}

nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
nav ul li a:hover {
  color: #2e72d0;
}

.details {
  margin-left: 8%;
  margin-top: 15%;
}

.details h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

span {
  color: #2e72d0;
}

span:hover {
  color: black;
}

.details p {
  color: #555;
  line-height: 22px;
}

.details a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.details a:hover {
  background: #2e72d0;
}

.images {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}
.images:hover .me {
  left: 45%;
}

/*Modification for Favorites Part*/
.favorites {
  background: #2e72d0;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: #eff4fd;
  font-size: 50px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 365px;
  width: 335px;
  padding: 20px 35px;
  background: #eff4fd;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #2e72d0;
}

.card h5 {
  color: black;
  font-size: 23px;
  margin-bottom: 15px;
}

.description p {
  color: #555;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

.card .button:hover {
  background: #2e72d0;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background: #eff4fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: #555;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social-media {
  display: flex;
}

.social-media a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-media a:hover {
  background: #2e72d0;
}

.copyright {
  position: absolute;
  color: #2e72d0;
  bottom: 35px;
  font-size: 14px;
}
